<%- include('partials/header') %>
<div class="text-container" style="height: calc(100% - 152px)">
  <h1>Добро пожаловать в Task Manager</h1>
  <p>
    <a href="/login" class="btn btn-primary">Войти</a> или
    <a href="/register" class="btn btn-secondary">Регистрация</a>
  </p>
</div>
<%- include('partials/footer') %>
