<%- include('partials/header') %>
<div class="text-container heightCont">
  <h2>Registration</h2>

  <% if (errors.length > 0) { %>
  <div class="error">
    <% errors.forEach(error => { %>
    <p><%= error %></p>
    <% }) %> %>
  </div>
  <% } %>

  <form action="/register" method="POST">
    <div class="mb-3">
      <label for="username" class="form-label">User name</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        required
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        required
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        required
      />
    </div>
    <button type="submit" class="btn btn-success">Register</button>
  </form>
</div>
<%- include('partials/footer') %>
