<%- include('partials/header.ejs') %>
<h2>Личный кабинет (Dashboard)</h2>
<p>
  Только авторизованные пользователи (и прошедшие 2FA, если включено) могут
  видеть эту страницу.
</p>
<p>Вы можете настроить 2FA, если ещё не включили:</p>
<% if (!user.is2FAEnabled) { %>
<a href="/2fa/setup">Настроить 2FA</a>
<% } else { %>
<p>2FA уже включена!</p>
<% } %> <%- include('partials/footer.ejs') %>
