<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>2FA App</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Главная</a>
        <% if (!session.user) { %>
        <a href="/auth/register">Регистрация</a>
        <a href="/auth/login">Вход</a>
        <% } else { %>
        <a href="/dashboard">Дашборд</a>
        <a href="/auth/logout">Выход</a>
        <% } %>
      </nav>
    </header>
  </body>
</html>
